*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.contPers{
    display: flex;
}
main{
    width: 100%;
    padding: 20px;
}

.sidebar{
    background: #323444;
    color: #ffffff;
    height: 100vh;
    width: 250px;
    transition: all 0.5s;
    position: sticky;
    top: 0;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 30px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 90px;
}
.link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover{
    background:#0073AC;
    color:  #ffffff;
    transition: all 0.5s;
}

.active{
    background: #0073AC;
    color: #ffffff;
}

.icon, .link_text{
    font-size: 20px;

}

.welcome{
    font-size: 6vw
}