.TitleSection{
    font-size: 4vw
}

.OptionsInventory{
    display: flex;
    justify-content: space-between;
}

.leftTool{
    align-items: center;
    width: 50%;
}

.rightTools{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.tool{
    float:left;
    margin: 10px;
}

.searchItem{
    width: 50%;
}

.tableInventory{
    background-color: white;
}

.divTableInventory{
    overflow: auto; flex: 1 1 0%; position: relative; outline: currentcolor none medium;
}

.OptionsUpdateInventory{
    display: flex;
    justify-content:space-around;
}

.centerHorizontalELements{
    justify-content: center;
    align-items: center;
}

.groupCalendar {
    display: flex;
    width: 80%;
}

.groupCalendarTH{
    display: flex;
}

.groupCalendarRH1 {
    display: flex;
    width: 40%;
}

.divDateBill {
    display: flex;
    width: 30%;
}

.contTableSales{
    height: 55vh;
    overflow-y:scroll;
}

.contTableRH1M{
    overflow-y:scroll;
}

.containerButtonsFormats{
    display: flex;
    justify-content: space-between;
}

.btnFormats{
    width: 15%;
}

hr {
    margin: 1rem 0;
    color: black;
    background-color: black;
    border: 0;
    opacity: 1;
}

.divRegInv{
    align:"right";
    width: 30%;
}